@model MCGA.Entities.Turno
@{
    ViewBag.Title = "Turno";
    ViewBag.Description = "En esta página vamos a poder eliminar turnos del sistema.";
    ViewBag.Author = Application.Name;
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@TwitterCard");
    ViewBag.OpenGraph = new OpenGraphBusiness(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/fonts/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 },
        new OpenGraphContactData(Application.StreetAddress, Application.Locality, Application.PostalCode, Application.Country)
        {
            Email = Application.Email,
            Phone = Application.Phone,
            Website = Url.AbsoluteRouteUrl(TurnoControllerRoute.GetDelete)
        },
        new OpenGraphLocation(Application.Latitude, Application.Longitude))
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<h2>Eliminar <small>turno</small></h2>
<h3>¿Estás seguro?</h3>
<hr class="hrSinMarginTop" />
<div class="content-personalizado">

    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Afiliado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afiliado.Nombre)
            @Html.DisplayFor(model => model.Afiliado.Apellido)
        </dd>

        <dt>
            @Html.Raw("Especialidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EspecialidadesProfesional.Especialidad.descripcion)
        </dd>

        <dt>
            @Html.Raw("Profesional")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EspecialidadesProfesional.Profesional.Nombre)
            @Html.DisplayFor(model => model.EspecialidadesProfesional.Profesional.Apellido)
        </dd>

        <dt>
            @Html.Raw("Fecha")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.Raw("Horario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.Raw("Reserva")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reserva)
        </dd>

        <dt>
            @Html.Raw("Observaciones")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group text-right paddingLeftRight_15">
            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    Eliminar
                </button>
            </div>
        </div>
    }

</div>
<div>
    <a class="btn btn-sm" href="@Url.Action("Index", "Turno")">
        <i class="fa fa-chevron-circle-left"></i>
        Volver al listado
    </a>
</div>