@using ArtMarket.Entities.Model
@model IList<ArtMarket.Entities.Model.Product>
@{
    ViewBag.Title = "Lista de Productos";
}

<!--<h2>Index</h2>-->


<div class="product-list">
    <a href="/Product/Create">
        <button class="btn btn-primary">Agregar Producto</button>
    </a>

    <table class="table">
        <thead>
        <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Artista</th>
            <th>Precio</th>
            <th>Cantidad Vendidos</th>
            <th>Calificación Promedio</th>
            <th colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        @foreach (Product item in Model)
        {
            <tr>
                <td> @item.Title</td>
                <td> @item.Description</td>
                <td> @item.Artist.LastName</td>
                <td> @item.Price</td>
                <td> @item.QuantitySold</td>
                <td> @item.AvgStars</td>
                <td>
                    <a href="/Product/Modify/@item.Id">
                        <img src="~/Content/img/icons/edit.png" />
                    </a>
                    <!--@Html.ActionLink("Modificar", "Modify", "Product", new { id = item.Id }, null)-->
                </td>
                <td>
                    <a href="/Product/Delete/@item.Id">
                        <img src="~/Content/img/icons/trash.png" />
                    </a>
                    <!--@Html.ActionLink("Eliminar", "Delete", "Product", new { id = item.Id }, null)-->
                </td>
            </tr>
        }

    </table>
</div>