@model MCGA.Entities.Afiliado
@{
                /**/

                ViewBag.Title = "Afiliado";
                ViewBag.Description = "En esta página vamos a poder agregar afiliados del sistema.";
                ViewBag.Author = Application.Name;
                ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
                ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@TwitterCard");
                ViewBag.OpenGraph = new OpenGraphBusiness(
                    ViewBag.Title,
                    new OpenGraphImage(Url.AbsoluteContent("~/fonts/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 },
                    new OpenGraphContactData(Application.StreetAddress, Application.Locality, Application.PostalCode, Application.Country)
                    {
                        Email = Application.Email,
                        Phone = Application.Phone,
                        Website = Url.AbsoluteRouteUrl(AfiliadoControllerRoute.GetCreate)
                    },
                    new OpenGraphLocation(Application.Latitude, Application.Longitude))
                {
                    Determiner = OpenGraphDeterminer.Blank,
                    SiteName = Application.Name
                };
}
<h2>Nuevo <small>afiliado</small> </h2>
<hr class="hrSinMarginTop" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal content-personalizado">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDocumentoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoDocumentoId", null, "-Seleccionar tipo de documento-", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoDocumentoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoSexoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoSexoId", null, "-Seleccionar sexo-", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoSexoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @max = DateTime.Now.ToString("yyyy-MM-dd"), @min = "1900-01-01" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoCivilId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstadoCivilId", null, "-Seleccionar estado civil-", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoCivilId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroAfiliado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroAfiliado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroAfiliado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlanId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlanId", null, "-Seleccionar plan-", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlanId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Habilitado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Habilitado)
                    @Html.ValidationMessageFor(model => model.Habilitado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group text-right paddingLeftRight_15">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check-circle"></i>
                Guardar
            </button>
        </div>
    </div>
}

<div>
    <a class="btn btn-sm" href="@Url.Action("Index", "Afiliado")">
        <i class="fa fa-chevron-circle-left"></i>
        Volver al listado
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}