@{
    ViewBag.Title = "Inicio";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="@Url.Content("~/img/logo-masvida.png")" class="img-responsive" style="margin:auto" alt="masvida">
                </div>
                <div class="col-md-4"></div>
            </div>

            <h4><strong>ASOCIACION MUTUAL MASVIDA - ROSARIO</strong></h4>
            <hr>
            <p>+Vida es una empresa dedicada a los servicios en el área de la salud. Asistencia médica hospitalaria y prehospitalaria mediante un recurso humano altamente calificado y la utilización de tecnología de última generación.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Conózcanos</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading"><strong>+Vida</strong> es garantía de calidad en Asistencia Médica Prehospitalaria.</h3>
                <hr class="light">
                <p class="text-faded">Se inicia en el año 2014 en Acebal- Santa Fe con sede en Clínica Acebal (MS. Pereyra 591 Acebal- Santa Fe). Nace con  el propósito central de asegurar a nuestros asociados una primer respuesta médica de alta calidad, ante la angustia que le generan situaciones de riesgo de vida o imprevistos de salud.<br />
                                        Los pilares de nuestro servicio son la rapidez de respuesta, el profesionalismo y el trato humano, los cuales a pesar de lo joven de nuestra empresa, nos garantizan solidez, respaldo y confiabilidad.</p>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios a nuestros afiliados</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
           @* <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                    <h3>Asistencia Médica Inmediata</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>*@
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wheelchair wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Asistencia Médica Inmediata</h3>
                    <p class="text-muted">Ofrecemos servicios de emergencias y urgencias médicas los 365 días del año, como así también consultas médicas y de enfermería domiciliarias, (exclusivo para población de Acebal)  servicio de internación en Clínica Acebal, así como traslados a centros de mayor complejidad.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ambulance wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Asistencia Médica Inmediata</h3>
                    <p class="text-muted">Nuestra sede está equipada con elementos de alta tecnología, desfibrilador y monitor, electrocardiógrafo, aspirador, nebulizador, kit general, kit de trauma, kit de toxicología, kit de obstetricia, kit de infectocontagiosas, set de RCP -resucitación cardiopulmonar -, kit de vía aérea y vía venosas, y kit de pediatría/neonatología.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plus-square wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Control de Ausentismo</h3>
                    <p class="text-muted">El control de ausentismo por enfermedad es un derecho que le asiste al empleador y su correcta utilización no está en pretender ejercer una coerción sobre los trabajadores sino que, a los fines del planeamiento productivo, permite conocer con certeza cuando, un trabajador enfermo, se reintegrará a sus tareas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="@Url.Content("~/img/portfolio/1.jpg")"class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Asistencia Médica Inmediata
                            </div>
                            <div class="project-name">
                                Mutual +Vida
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="@Url.Content("~/img/portfolio/2.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Asistencia Médica Inmediata
                            </div>
                            <div class="project-name">
                                Mutual +Vida
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="@Url.Content("~/img/portfolio/3.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Asistencia Médica Inmediata
                            </div>
                            <div class="project-name">
                                Mutual +Vida
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="@Url.Content("~/img/portfolio/4.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Asistencia Médica Inmediata
                            </div>
                            <div class="project-name">
                                Mutual +Vida
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="@Url.Content("~/img/portfolio/5.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Asistencia Médica Inmediata
                            </div>
                            <div class="project-name">
                                Mutual +Vida
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="@Url.Content("~/img/portfolio/6.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Asistencia Médica Inmediata
                            </div>
                            <div class="project-name">
                                Mutual +Vida
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <br>
            <i class="fa fa-gratipay fa-3x" style="color: #EB383E"></i>
            <h3>"La felicidad radica, ante todo, en la salud."</h3>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contáctenos</h2>
                <hr class="primary">
                <p>
                    Acérquese personalmente a nuestra oficina en Rosario,<br>
                    o bien háganos llegar su consulta, a la brevedad nos pondremos en contacto.
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>03469 15690110 / 03469 15690121 <br /> 03469 420553 / 03469 420274</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@masvidaacebal.com.ar">info@masvidaacebal.com.ar</a></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Maria S. Pereyra 591 - Acebal - Santa Fe - 2109</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href='www.dodwing.com' target="_blank">dodwing</a>
            </div>
        </div>
    </div>
</footer>
