@model MasVidaWebMVC.User

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DNI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DNI)
            @Html.ValidationMessageFor(model => model.DNI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserPassword)
            @Html.ValidationMessageFor(model => model.UserPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductID, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserTypeID, "UserType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FamilyGroupID, "FamiliesGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FamilyGroupID", String.Empty)
            @Html.ValidationMessageFor(model => model.FamilyGroupID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreationDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDateTime)
            @Html.ValidationMessageFor(model => model.CreationDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastTransactionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastTransactionID)
            @Html.ValidationMessageFor(model => model.LastTransactionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountTotal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountTotal)
            @Html.ValidationMessageFor(model => model.AccountTotal)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
