@{
    ViewBag.Title = "Dato adicional de afiliado";
    ViewBag.Description = "En esta página vamos a poder cargar datos adicionales del afiliado que seleccione.";
    ViewBag.Author = Application.Name;
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@TwitterCard");
    ViewBag.OpenGraph = new OpenGraphBusiness(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/fonts/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 },
        new OpenGraphContactData(Application.StreetAddress, Application.Locality, Application.PostalCode, Application.Country)
        {
            Email = Application.Email,
            Phone = Application.Phone,
            Website = Url.AbsoluteRouteUrl(DatoAdicionalAfiliadoControllerRoute.GetDatoAdicional)
        },
        new OpenGraphLocation(Application.Latitude, Application.Longitude))
    {
        Determiner = OpenGraphDeterminer.Blank,

        SiteName = Application.Name
    };
}

<h2>Datos adicional de afiliado</h2>
<h5>@ViewBag.NombreAfiliado</h5>
<hr class="hrSinMarginTop" />
@Html.Hidden("AfiliadoId", (string)ViewBag.AfiliadoLogueadoId)

<div class="form-horizontal content-personalizado">
    @Html.Hidden("ListControlId")
    @Html.Hidden("ListKeyId")

    <div class="row marginUnset" id="divDatosAdicionales">
        
    </div>

    <div class="row marginUnset mb-3" id="divButtonGuardar">
        <div class="col-12">
            <hr class="hrSinMarginTop" />
            <a class="btn btn-sm btn-success text-white float-right" title="Guardar" onclick="GuardarDatoAdicional();">
                <i class="fa fa-check-circle"></i>
                Guardar
            </a>
        </div>
    </div>

</div>
<div>
    <a class="btn btn-sm" href="@Url.Action("Index", "Turno")">
        <i class="fa fa-chevron-circle-left"></i>
        Volver al listado
    </a>
</div>

@Html.Partial("_DatoAdicionalGuardado")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            GenerarTablasDatoAdicional();
        });

        function GenerarTablasDatoAdicional() {
            $.ajax({
                url: '@Url.Action("GetDatoAdicional", "DatoAdicionalAfiliado")',
                datatype: "json",
                async: false,
                data: { afiliadoId: $("#AfiliadoId").val() },
                success: function (data) {
                    $('#divDatosAdicionales').empty();
                    var datos = data;
                    for (var i = 0; i < datos.length; i++) {

                        var div_col_principal = document.createElement('div');
                        div_col_principal.className = "col-12";

                        //Encabezado titulo
                        var div_row_titulo = document.createElement('div');
                        div_row_titulo.className = "row";

                        var div_col_titulo = document.createElement('div');
                        div_col_titulo.className = "col-12";

                        var label_titulo = document.createElement('label');
                        label_titulo.setAttribute("class", "control-label col-md-12");
                        label_titulo.innerHTML = datos[i].NombreKey;

                        var div_row_table = document.createElement('div');
                        div_row_table.className = "row marginUnset";

                        var div_row_table_responsive = document.createElement('div');
                        div_row_table_responsive.className = "table-responsive";

                        var table = document.createElement('table');
                        table.className = "table table-sm table-light table-bordered";

                        var thead = document.createElement('thead');
                        thead.className = "thead-light";

                        var tbody = document.createElement('tbody');

                        var tr_thead = document.createElement('tr');
                        var tr_body = document.createElement('tr');

                        var listControlIds = '';
                        //Cargo cabeceras th
                        for (var iControl = 0; iControl < datos[i].ListControl.length; iControl++) {
                            var th = document.createElement('th');
                            th.setAttribute("id", 'lbl_' + datos[i].ListControl[iControl].Id);
                            th.innerText = datos[i].ListControl[iControl].Label;

                            var td = document.createElement('td');
                            var campo = document.createElement('input');
                            campo.className = "form-control inputSinMaxWidth";
                            campo.setAttribute("id", datos[i].ListControl[iControl].Id);
                            campo.setAttribute("name", datos[i].ListControl[iControl].Id);
                            campo.setAttribute("autocomplete", "off");
                            campo.type = datos[i].ListControl[iControl].Tipo;
                            campo.setAttribute("value", datos[i].ListControl[iControl].Valor);
                            td.appendChild(campo);


                            tr_thead.appendChild(th);
                            tr_body.appendChild(td);

                            if (iControl == (datos[i].ListControl.length - 1))
                                listControlIds = listControlIds + datos[i].ListControl[iControl].Id;
                            else
                                listControlIds = listControlIds + datos[i].ListControl[iControl].Id + ',';
                        }

                        div_col_titulo.appendChild(label_titulo);
                        div_row_titulo.appendChild(div_col_titulo);
                        div_col_principal.appendChild(div_row_titulo);

                        thead.appendChild(tr_thead);
                        tbody.appendChild(tr_body);
                        table.appendChild(thead);
                        table.appendChild(tbody);
                        div_row_table_responsive.appendChild(table);
                        div_row_table.appendChild(div_row_table_responsive);

                        div_col_principal.appendChild(div_row_table);

                        $('#divDatosAdicionales').append(div_col_principal);

        
                        

                        debugger;
                        if (i == (datos.length - 1)) {
                            $('#ListKeyId').val($('#ListKeyId').val() + datos[i].TipoKeyId);
                            $('#ListControlId').val($('#ListControlId').val() + listControlIds);
                        }
                        else {
                            $('#ListKeyId').val($('#ListKeyId').val() + datos[i].TipoKeyId  + ',');
                            $('#ListControlId').val($('#ListControlId').val() + listControlIds + ',');
                        }

                        var hidden = document.createElement('input');
                        hidden.setAttribute("type", "hidden");
                        hidden.setAttribute("id", "hf_" + datos[i].TipoKeyId);
                        hidden.setAttribute("value", listControlIds);
                        $('#divDatosAdicionales').append(hidden);

                    }
                    if (datos.length > 0)
                        $('#divButtonGuardar').show();
                    else
                        $('#divButtonGuardar').hide();
                }
            });
        }

        function GuardarDatoAdicional() {
            var lisKeyId = $('#ListKeyId').val().split(",");
            

            
            var listJsonData = new Array();

            for (var iKey = 0; iKey < lisKeyId.length; iKey++) {
                debugger;
                var lisControlId = $('#hf_' + lisKeyId[iKey]).val().split(",");
                var listData = new Array();
                var listData = new Array();
                var data = {};
                for (var i = 0; i < lisControlId.length; i++) {
                    var textLabel = $('#lbl_' + lisControlId[i] + '').text();
                    data[textLabel] = $('#' + lisControlId[i] + '').val();
                }
                debugger;
                var jsonData = JSON.stringify({
                    'AfiliadoId': $("#AfiliadoId").val(),
                    'TipoKeyId': lisKeyId[iKey],
                    'JsonData': JSON.stringify(data)
                });
                listJsonData[iKey] = jsonData;
            }


            $.ajax({
                url: '@Url.Action("GuardarDatoAdicionalAfiliad", "DatoAdicionalAfiliado")',
                type: 'POST',
                data: { listJsonData: listJsonData },
                success: function (response) {

                    GenerarTablasDatoAdicional();
                    $('#datosGuardados').fadeIn(1000);
                    setTimeout(function () {
                        $('#datosGuardados').fadeOut(1000);
                    }, 5000);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    </script>
}

