@model IEnumerable<MasVidaWebMVC.User>

@{
    ViewBag.Title = "ReporteDeClientes";
}

<h2>ReporteDeClientes</h2>

<p>
    @Html.ActionLink("Imprimir", "ImprimirReporteDeClientes", null, new { @class = "btn btn-primary", @target = "_blank"  })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FamiliesGroup.FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountTotal)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.FamiliesGroup.FamilyName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.AccountTotal)
        </td>
    </tr>
}

</table>
