@model MCGA.Entities.Plan
@{
    ViewBag.Title = "Plan";
    ViewBag.Description = "En esta página vamos a poder eliminar planes del sistema.";
    ViewBag.Author = Application.Name;
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@TwitterCard");
    ViewBag.OpenGraph = new OpenGraphBusiness(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/fonts/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 },
        new OpenGraphContactData(Application.StreetAddress, Application.Locality, Application.PostalCode, Application.Country)
        {
            Email = Application.Email,
            Phone = Application.Phone,
            Website = Url.AbsoluteRouteUrl(PlanControllerRoute.GetDelete)
        },
        new OpenGraphLocation(Application.Latitude, Application.Longitude))
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<h3>¿Estás seguro?</h3>
<hr class="hrSinMarginTop" />
<div class="content-personalizado">

    <hr class="hrSinMarginTop" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_bono_consulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_bono_consulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_bono_farmacia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_bono_farmacia)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group text-right paddingLeftRight_15">
            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    Eliminar
                </button>
            </div>
        </div>
    }
    <div>
        <a class="btn btn-sm" href="@Url.Action("Index", "Plan")">
            <i class="fa fa-chevron-circle-left"></i>
            Volver al listado
        </a>
    </div>

</div>
